<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="barrel">
            <h2><span>Barrel</span> {{barrel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Barreled Date</span></dt>
                <dd>
                    <span>{{barrel.barreledDate | date}}</span>
                </dd>
                <dt><span>Warehouse</span></dt>
                <dd>
                    <div *ngIf="barrel.warehouseId">
                        <a [routerLink]="['/warehouse', barrel.warehouseId, 'view']">{{barrel.warehouseWarehouseCode}}</a>
                    </div>
                </dd>
                <dt><span>Mashbill</span></dt>
                <dd>
                    <div *ngIf="barrel.mashbillId">
                        <a [routerLink]="['/mashbill', barrel.mashbillId, 'view']">{{barrel.mashbillMashbillCode}}</a>
                    </div>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="barrel.customerId">
                        <a [routerLink]="['/customer', barrel.customerId, 'view']">{{barrel.customerCustomerCode}}</a>
                    </div>
                </dd>
                <dt><span>Batch</span></dt>
                <dd>
                    <div *ngIf="barrel.batchId">
                        <a [routerLink]="['/batch', barrel.batchId, 'view']">{{barrel.batchOrderCode}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/barrel', barrel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
