<div>
    <h2 id="page-heading">
        <span>Barrels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-barrel" [routerLink]="['/barrel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Barrel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="barrels">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <!-- <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="barreledDate"><span>Barreled Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="warehouseWarehouseCode"><span>Warehouse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mashbillMashbillCode"><span>Mashbill</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerCustomerCode"><span>Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="batchOrderCode"><span>Batch</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let barrel of barrels ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/barrel', barrel.id, 'view' ]">{{barrel.id}}</a></td> -->
                <td>{{barrel.barreledDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="barrel.warehouseId">
                        <a [routerLink]="['../warehouse', barrel.warehouseId , 'view' ]" >{{barrel.warehouseWarehouseCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="barrel.mashbillId">
                        <a [routerLink]="['../mashbill', barrel.mashbillId , 'view' ]" >{{barrel.mashbillMashbillCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="barrel.customerId">
                        <a [routerLink]="['../customer', barrel.customerId , 'view' ]" >{{barrel.customerCustomerCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="barrel.batchId">
                        <a [routerLink]="['../batch', barrel.batchId , 'view' ]" >{{barrel.batchOrderCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/barrel', barrel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/barrel', barrel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'barrel', { outlets: { popup: barrel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
