<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="batch">
            <h2><span>Batch</span> {{batch.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Proof</span></dt>
                <dd>
                    <span>{{batch.proof}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{batch.date}}</span>
                </dd>
                <dt><span>Order Code</span></dt>
                <dd>
                    <span>{{batch.orderCode}}</span>
                </dd>
                <dt><span>Barrels</span></dt>
                <dd>
                    <span>{{barrelCount}}</span>
                </dd>
                <dt><span>Warehouse</span></dt>
                <dd>
                    <div *ngIf="batch.warehouseId">
                        <a [routerLink]="['/warehouse', batch.warehouseId, 'view']">{{batch.warehouseWarehouseCode}}</a>
                    </div>
                </dd>
                <dt><span>Schedule</span></dt>
                <dd>
                    <div *ngIf="batch.scheduleId">
                        <a [routerLink]="['/schedule', batch.scheduleId, 'view']">{{batch.scheduleId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/batch', batch.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
