<div>
    <h2 id="page-heading">
        <span>Batches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-batch" [routerLink]="['/batch/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Batch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="batches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <!-- <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="proof"><span>Proof</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span>Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderCode"><span>Order Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="warehouseWarehouseCode"><span>Warehouse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scheduleId"><span>Schedule</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let batch of batches ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/batch', batch.id, 'view' ]">{{batch.id}}</a></td> -->
                <td>{{batch.date | date:'mediumDate'}}</td>
                <td>{{batch.proof}}</td>
                <td>{{batch.orderCode}}</td>
                <td>
                    <div *ngIf="batch.warehouseId">
                        <a [routerLink]="['../warehouse', batch.warehouseId , 'view' ]" >{{batch.warehouseWarehouseCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="batch.scheduleId">
                        <a [routerLink]="['../schedule', batch.scheduleId , 'view' ]" >{{batch.scheduleId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/batch', batch.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/batch', batch.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'batch', { outlets: { popup: batch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
