<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spirit">
            <h2><span jhiTranslate="distilledApp.spirit.detail.title">Spirit</span> {{spirit.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="distilledApp.spirit.category">Category</span></dt>
                <dd>
                    <span>{{spirit.category}}</span>
                </dd>
                <dt><span jhiTranslate="distilledApp.spirit.name">Name</span></dt>
                <dd>
                    <span>{{spirit.name}}</span>
                </dd>
                <dt><span jhiTranslate="distilledApp.spirit.code">Code</span></dt>
                <dd>
                    <span>{{spirit.code}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spirit', spirit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
