<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mashbill">
            <h2><span>Mashbill</span> {{mashbill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mashbill Name</span></dt>
                <dd>
                    <span>{{mashbill.mashbillName}}</span>
                </dd>
                <dt><span>Mashbill Code</span></dt>
                <dd>
                    <span>{{mashbill.mashbillCode}}</span>
                </dd>
                <dt><span>Mashbill Notes</span></dt>
                <dd>
                    <span>{{mashbill.mashbillNotes}}</span>
                </dd>
                <dt><span>Yeast</span></dt>
                <dd>
                    <div *ngIf="mashbill.yeastId">
                        <a [routerLink]="['/mashbill-yeast', mashbill.yeastId, 'view']">{{mashbill.yeastId}}</a>
                    </div>
                </dd>
                <dt><span>Spirit</span></dt>
                <dd>
                    <div *ngIf="mashbill.spiritId">
                        <a [routerLink]="['/spirit', mashbill.spiritId, 'view']">{{mashbill.spiritName}}</a>
                    </div>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="mashbill.customerId">
                        <a [routerLink]="['/customer', mashbill.customerId, 'view']">{{mashbill.customerCustomerName}}</a>
                    </div>
                </dd>
            </dl>
            <div>
                <h4>Mashbill Grains</h4>
                <jhi-alert></jhi-alert>
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                            <tr>
                                <th>Grain</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mbg of grains ;trackBy: trackId">
                                <td>
                                    <div *ngIf="mbg.grainId">
                                        <a [routerLink]="['/mashbill-grain',mbg.id,'view']">{{mbg.grainGrainName}}</a>
                                    </div>
                                    <!-- {{mbg.grainGrainName}} -->
                                </td>
                                <td>{{mbg.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mashbill', mashbill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
