<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-yeast-heading" jhiTranslate="distilledApp.yeast.home.createOrEditLabel">Create or edit a Yeast</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!yeast.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="yeast.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="distilledApp.yeast.yeastName" for="field_yeastName">Yeast Name</label>
                    <input type="text" class="form-control" name="yeastName" id="field_yeastName"
                        [(ngModel)]="yeast.yeastName" required/>
                    <div [hidden]="!(editForm.controls.yeastName?.dirty && editForm.controls.yeastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yeastName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="distilledApp.yeast.yeastCode" for="field_yeastCode">Yeast Code</label>
                    <input type="text" class="form-control" name="yeastCode" id="field_yeastCode"
                        [(ngModel)]="yeast.yeastCode" required/>
                    <div [hidden]="!(editForm.controls.yeastCode?.dirty && editForm.controls.yeastCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yeastCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="distilledApp.yeast.yeastPalletNum" for="field_yeastPalletNum">Yeast Pallet Num</label>
                    <input type="number" class="form-control" name="yeastPalletNum" id="field_yeastPalletNum"
                        [(ngModel)]="yeast.yeastPalletNum" required/>
                    <div [hidden]="!(editForm.controls.yeastPalletNum?.dirty && editForm.controls.yeastPalletNum?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yeastPalletNum?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.yeastPalletNum?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
