<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productionSchedule">
            <h2><span jhiTranslate="distilledApp.productionSchedule.detail.title">Production Schedule</span> {{productionSchedule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="distilledApp.productionSchedule.proofGallons">Proof Gallons</span></dt>
                <dd>
                    <span>{{productionSchedule.proofGallons}}</span>
                </dd>
                <dt><span jhiTranslate="distilledApp.productionSchedule.actualBarrelCount">Actual Barrel Count</span></dt>
                <dd>
                    <span>{{productionSchedule.actualBarrelCount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/production-schedule', productionSchedule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
