<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="warehouse">
            <h2><span jhiTranslate="distilledApp.warehouse.detail.title">Warehouse</span> {{warehouse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="distilledApp.warehouse.warehouseCode">Warehouse Code</span></dt>
                <dd>
                    <span>{{warehouse.warehouseCode}}</span>
                </dd>
                <dt><span jhiTranslate="distilledApp.warehouse.owner">Owner</span></dt>
                <dd>
                    <span>{{warehouse.owner}}</span>
                </dd>
                <dt><span jhiTranslate="distilledApp.warehouse.capacity">Capacity</span></dt>
                <dd>
                    <span>{{warehouse.capacity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/warehouse', warehouse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
